<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiY2hyaXN0aWFudGhvbWEiLCJhIjoiY2xxZ3Btd2g1MHNqNjJrcWMzM20wZW0zNSJ9.pv_gbHq_cTjDFYeb7X3WwA</string>
</dict>
</plist>
